
body {
  background-image: url('https://previews.123rf.com/images/alexandersikov/alexandersikov1802/alexandersikov180200194/96448531-e-learning-education-internet-technology-webinar-online-courses-concept.jpg');
  background-size: cover;
}



.container {
  width: 50%;
  height: 50%;
  max-width: 300px;
  margin: 60 auto;
  background: linear-gradient(to right, #7cadad, #05373d);
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 1 rem;
  margin-bottom: 1 rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1 rem;
  color: #ffffff;
  margin-bottom: .60rem;
}

input {
  border-radius: 5 px;
  border: none;
  padding: .50rem;
  font-size: .75 rem;
  background-color: #a3bcd1;
  margin-bottom: 1 rem;
}
input[type="password"] {
  
  margin-bottom: 2rem;
}

button {
  background-color: #841288;
  color: #ff7f50;
  border: none;
  padding: .5rem;
  border-radius: 5px;
  font-size: .9 rem;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-top: 1.5 rem;
}

button:hover {
  background-color: #ffa07a;
}